<div class="auth-pages">

    <h1 class="auth-pages__title">New password</h1>

    <mat-card class="auth-pages__card form-fields-theme">
        <form role="form" (ngSubmit)="send()" #passwordForm="ngForm">
            <div *ngIf="error" class="form-error-field hint-warning">{{ error }}</div>
            <mat-form-field>
                <mat-label>New password</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="model.password" minlength="5" required>
                <mat-error *ngIf="passwordForm.form.get('password')?.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" [disabled]="!passwordForm.form.valid || isSending || !token">Submit</button>
        </form>
    </mat-card>
</div>
