@import "../../styles/variables.scss";

.home-style {
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    background-color: $primary;
    color: #fff;
}
